video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container h1 {
  color: aliceblue;
  font-size: 100px;
  margin-top: -50px;
}
.hero-container p {
  font-size: 50px;
  color: aliceblue;
}

.hero-btns {
  margin-top: 30px;
}

.hero-btns .btn {
  margin: 15px;
  background-color: #00adb5;
  border: none;
}
.hero-btns .btn:hover {
  background-color: aliceblue;
}

@media screen and (max-width: 960px) {
  .hero-container h1 {
    color: aliceblue;
    font-size: 50px;
    margin-top: -20px;
  }
  .hero-container p {
    font-size: 30px;
    color: aliceblue;
  }
}

@media screen and (max-width: 760px) {
  .hero-container h1 {
    color: aliceblue;
    font-size: 35px;
    margin-top: -20px;
  }
  .hero-container p {
    font-size: 25px;
    color: aliceblue;
  }

  .btn-mobile {
    display: block;
  }
  .hero-btns .btn {
    width: 100%;
  }
}
